.homepage__header {
   height: 36px;
   background-color: #ff9999;
   padding: 8px;
   display: grid;
   place-items: center;
   font-size: 1rem;
}
.upcoming-grid {
    height: 268px;
    overflow-y: hidden !important;
    flex-wrap: nowrap !important;
    box-sizing: border-box;
}
.upcoming-grid .MuiGridListTile-root {
    width: 300px !important;
    height: 250px !important;
}
.released {
    display: flex;
}
.released>div{
    margin: 16px;
    height: auto;
}
.released__movies {
    width: 76%;
}
.released__filters {
    width: 24%;
}
.released-grid {
    height: auto;
}
.released-grid .MuiGridListTile-root {
    box-sizing: border-box;
    margin: 5px;
    cursor: pointer;
    width: 250px !important;
    height: 350px !important;

}